* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --light-white: #e0e0e0;
    --text-color: #374151;
    --hover-color: #8b6bff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-white);
    user-select: none;
}

h1 {
    font-size: 3.6rem;
    margin: 2rem;
}

ul {
    list-style: none;
}

h2 {
    font-size: 2.4rem;
    margin: 1rem;
    padding-bottom: 0.5rem;
}

ol {
    margin-left: 2rem;
    font-size: 1.6rem;
}

li {
    font-size: 2.3rem;
    margin: 5px 2px;
}

.container {
    margin: 1rem 0;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

strong {
    color: #F59E0B;
}

a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 1rem;
    transition: 0.3s;
}

a:hover {
    color: var(--hover-color);
}

.button {
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.4s;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.button:hover {
    background-color: var(--hover-color);
    color: #fff;
}

.src-links {
    margin-top: 2rem;
}

.section_9 {
    text-align: center;
}

.form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4rem;
    padding: 4rem;
    border-radius: 15px;
}


label {
    font-size: 2rem;
    font-weight: bold;
}

input {
    margin: 10px;
    width: 80%;
    font-size: 1.6rem;
}

textarea {
    margin: 10px;
    font-size: 1.6rem;
}

.form button {
    font-size: 1.6rem;
    padding: 0.7rem 2.5rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
}

.main-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.main-box li{
    list-style: none;
    min-width: 25rem;
    font-size: 1.6rem;
}

.dpt-box {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.dpt-box li {
    margin: 0 2rem;
}

.dpt-box hr {
    margin-bottom: 1.3rem;
}

.video{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.video video{
    max-width: 80rem;
    border-radius: 15px;
}

p {
    font-size: 1.6rem;
}

.p-iframe {
    margin: 5rem 0;
}

.iframe-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #201E1C;
    width: 100%;
    margin-bottom: 2rem;
}


.iframe-box {
    text-align: center;
    max-width: 60rem;
    margin: 4rem;
}

.iframe-box h2 {
    color: whitesmoke;
}

.iframe-footer {
    margin: 4rem 0 0 0;
    padding: 5rem 0;
    background-color: #201E1C;
    width: 100%;
    display: flex;
    justify-content: center;
}

.iframe-footer p {
    color: whitesmoke;
}